header{
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px){
        padding: 20px;
    }
    img{
        width: 211px;
        height: 68px;
        @media (max-width: 767px) {
            width: 110px;
            height: 32.88px;
        }
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 57px;
        align-items: center;
        @media (max-width: 767px){
            gap: 10px;
        }
        a{
            color: $color-tertiary;
            text-decoration: none;
            margin: 0 5px;
            font-weight: 500;
        }
        .active{
            text-decoration: underline;
        }
        
    }
}