.gallery{
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    border-radius: 25px;
    justify-content: center;
    padding: 9px 0;
    @media (max-width: 767px){
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 20px;
    }
    &__annonce{
        width: 30%;
        height: 340px;
        position: relative;
        margin: 10px 10px;
        @media (max-width: 767px){
            width: 90%;
            height: 245px;
        }
        &__paragraphe{
            position: absolute;
            bottom: 0;
            border-radius: 0 0 8px 8px;
            height: 50%;
            width: 100%;
            color: white;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
            
            h2{
                position: absolute;
                left: 10px;
                bottom: 0;
                font-size: 17px;
                font-weight: 500;
                @media (max-width: 767px){
                    font-size: 20px;
                }
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
